<div id="settingsholder">

<label>Name
	<input ng-model="job.name" placeholder="Name" />
</label>
<label>Service Required
<input ng-model="job.serviceName" placeholder="Service Required"/>
</label>
<label>Service Description
<textarea ng-model="job.serviceDesc" placeholder="50 Char max"/></textarea>
</label>
<label>Date Required
<input ng-model="job.dateRequired" placeholder="Date Required"/>
</label>

<label>Address
<input ng-model="job.location.address" />
</label>

<label>Cost Type
<input ng-model="job.cost.type" />
</label>
<label>Hours of Service
<input ng-model="job.cost.hours" />
</label>
<label>Amount
<input ng-model="job.cost.amount" />
</label>
<label>Category
<input ng-model="job.category" />
</label>
<input type="button" ng-click="editJob(job._id)" value="Update Job" />

</div>        

 