<div id="settingsholder">

<label>Name
	<input ng-model="job.name" placeholder="Name" />
</label>
<label>Service Required
<input ng-model="job.serviceName" placeholder="Service Required"/>
</label>
<label>Service Description
<textarea ng-model="job.serviceDesc" placeholder="50 Char max"/></textarea>
</label>
<label>Date Required
<input ng-model="job.dateRequired" b-datepicker placeholder="Date Required"/><i class="icon-calendar"></i>
</label>
<label>Address
<input ng-model="job.location.address" required ng-Autocomplete />
</label>

<label>Cost Type
<select ng-model="job.cost.type">
	<option value="hr">Per Hour</option>
	<option value="fixed">Fixed Cost</option>
</select>
</label>
<label>Est. Hours of Service
<input ng-model="job.cost.hours" />
</label>
<label>Amount
<input ng-model="job.cost.amount" />
<span ng-show="job.cost.type === 'hr'">/hr.</span>
<span ng-show="job.cost.type === 'fixed'">Fixed Cost Total</span>
</label>
<div ng-show="job.cost.type === 'hr'">
	Total = {{job.cost.hours * job.cost.amount}}
</div>

<label>Category
<select ng-model="job.category">
	<option ng-repeat="cat in categories" value="{{cat.name}}">
		{{cat.name}}
	</option>
</select>
</label>
<input type="button" ng-click="addJob(job)" value="addJob" />
<hr/>  
{{job | json}}
</div>        

 