<div id="settingsholder">

<label>Name
	<input ng-model="job.name" placeholder="Name" />
</label>
<label>Service Required
<input ng-model="job.serviceName" placeholder="Service Required"/>
</label>
<label>Service Description
<textarea ng-model="job.serviceDesc" placeholder="50 Char max"/></textarea>
</label>
<label>Date Required
<input ng-model="job.dateRequired" placeholder="Date Required"/>
</label>
<label>Address
<input ng-model="job.location.address" ng-Autocomplete />
</label>

<label>Cost Type
<select ng-model="job.cost.type">
	<option value="perhour">Per Hour</option>
	<option value="fixed">Fixed Cost</option>
</select>
</label>
<label>Hours of Service
<input ng-model="job.cost.hours" />
</label>
<label>Amount
<input ng-model="job.cost.amount" />
</label>
<label>Category
<select ng-model="job.category">
	<option ng-repeat="cat in categories" value="{{cat.name}}">
		{{cat.name}}
	</option>
</select>
</label>
<input type="button" ng-click="addJob(job)" value="addJob" />
<hr/>  
{{job | json}}
</div>        

 