

<div class="jumbotron"  >
  <div ng-show="user.authorized">Welcome {{ user.first_name }}!</div>
 
 <h1> ${{total}} to earn.</h1>
  <h2>Enter your location</h2>
  <input type="text" ng-Autocomplete ng-model="location" id="location" placeholder="Search by Location" />
  <select type="select" ng-model="radius">
    <option value="25">25</option> 
    <option value="50">50</option> 
  </select>
  <p class="lead">
    <a href="#">Allow joejobs to user your current location.</a>
  </p>
  <p><a class="btn btn-lg btn-success" ng-click="codeAddress();">Search</a></p>
</div>
   <div id="map"></div>
    <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
         <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
    </div>
<div class="row marketing">
  <h4>Joe Jobs are temporary work needed or one time hand work needed your local area.</h4>
  <p>
    Enrich your community and add to the growth of it entreprnuers. Take jobs you dont want to do and employ your neighbour.
  </p>
</div>


