<div>

My ID {{user.user_id}}
<h1>Applicants for my Jobs{{(requests | filter:{status:'owner','jobOwner': user.user_id}).length}}</h1>
<ul>
	<li ng-repeat="request in requests | filter: {status:'owner','jobOwner': user.user_id}">
		{{$index + 1}} {{request}}
		<a ng-href="#/view-request/{{request._id}}" class="btn btn-default">View</a>
	</li>
</ul>


<ul>
	<li ng-repeat="request in requests | filter: {status:'approved','jobOwner': user.user_id}">
		{{$index + 1}} {{request}}
	</li>
</ul>

<h1>Scheduled {{(requests | filter:{status:'confirmed','jobOwner': user.user_id}).length}}</h1>
<ul>
	<li ng-repeat="request in requests | filter: {status:'confirmed','jobOwner': user.user_id}">
		{{request}}
		<a ng-href="#/view-request/{{request._id}}" class="btn btn-default">Job Completed</a>
		<a href="" class="btn btn-default">Alert Change</a>
	</li>
</ul>

<h1>Completed {{(requests | filter:{status:'completed','jobOwner': user.user_id, 'ownerArchive':false}).length}}</h1>
<ul>
	<li ng-repeat="request in requests | filter: {status:'completed','jobOwner': user.user_id, 'ownerArchive':false}">
		{{request}}
		<a ng-href="#/view-request/{{request._id}}" class="btn btn-default" ng-hide="request.stage === 'rated'">Rate and Comment</a>
		<a href="" ng-click="archiveRequest(request)" class="btn btn-default">Archive</a>
	</li>
</ul>

<h1>Archive {{(requests | filter: {status:'completed','jobOwner': user.user_id, 'ownerArchive':true}).length}}</h1>
<ul>
	<li ng-repeat="request in requests | filter: {status:'completed', 'jobOwner': user.user_id, 'ownerArchive':true}">
		{{request}}
	</li>
</ul>


</div>        

 