
<img src="http://placehold.it/150x150" alt="user img" class="img-circle">
<div class="row marketing">
  <h1>{{request.jobTitle}}</h1>

<p>{{request.applicant}}</p>
<p>{{request.jobCategory}}</p>

<div ng-show="request.status != 'confirmed'">
  <a href="" class="btn btn-default" ng-click="updateRequest('accept');">Accept</a>
  <a href="" class="btn btn-default" ng-click="updateRequest('decline');">Decline</a>
</div>

<div ng-show="request.stage === 'rated'">
  Rating is {{rating}} <br/>
  <div user-rating rating-value="rating" max="5" readonly="true" on-rating-selected="saveRatingToServer(rating)"></div>
{{request.comment}}
<a ng-href="" class="btn btn-default">Ok</a>
</div>



<div ng-show="request.status === 'confirmed' && request.stage === 3">
  Rating is {{rating}} <br/>
  <div user-rating rating-value="rating" max="5" on-rating-selected="saveRatingToServer(rating)"></div>

<textarea ng-model="request.comment"></textarea>
<a href="" class="btn btn-default" ng-click="completeRequest();">Complete and Close Request</a>
</div>


</div>
